body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

.header {
    text-align: center;
    margin-top: 30px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
}

input,
button {
    padding: 10px;
    font-size: 16px;
}

button {
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}



@media (max-width: 480px) {
    .header h1 {
        font-size: 28px;
    }

    form h2 {
        font-size: 22px;
        text-align: center;
    }

    form {
        width: 100%;
        padding: 15px;
    }

    input,
    button {
        font-size: 14px;
        padding: 12px;
    }
}